* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
   
}

body{
    background-image: linear-gradient(to top left, rgb(11, 37, 124),white);
}



.header{
    background-color:rgb(11, 37, 124);
    padding: 100px;
    margin-top: 0px;
    
}


.h1{
    background-color:rgb(11, 37, 124);
     margin-top: 0;
    color: white;
    text-align: center;
    font-size: 60px;
    padding: 0;
    
}

.anybutton {
    top: 180px;
    left: 620px;
    width: 200px;
    height: 70px;
    position: absolute;
    z-index: 2;
    background-image: linear-gradient(45deg, rgb(246, 188, 55),orange);
    font-size: 30px;
box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 7px;
    
}

.grid-container {
    
display: grid;
column-gap: 50px;
grid-template-columns: 900px auto ;
padding: 10px;
padding-top: 90px;
   
}
.grid-item1{
    background-image: linear-gradient(45deg, rgb(246, 188, 55),beige);
        border: 4px solid #fff;
        padding: 40px;
        font-size: 30px;
        text-align: center;
        border-radius: 7px;
}

.grid-item2 {
    background-image: linear-gradient(45deg,rgb(246, 188, 55),beige);
    border: 4px solid #fff;
    font-size: 30px;
    text-align: center;
    border-radius: 7px;
    height: 400px;
}

.wins{
    text-align: top left;
    position: absolute;
    margin-bottom: 200px;
    margin-top: 1cm;
    margin-left: 1cm;

}

.losses {
    text-align: bottom left;
    position:absolute;
    margin-top: 2cm;
    margin-left: 1cm;

}

.timer{
    position: absolute;
    margin-top: 6cm;
    text-align: center;
    padding: 40px;
    background-color: blue;
    border-radius: 7px;
    color:white;
}